.book-detail--container {
  display: grid;
  grid-template-columns: 40% auto auto auto;
  grid-template-areas:
    "image image title title title"
    "image image author author author"
    "image image stars reviews write-review"
    "image image price price price"
    "image image format format format"
    "image image    .    cart-bttn  wishlist-bttn"
    "image image desc desc desc";
  margin-top: 40px;
  margin-left: 60px;
  margin-right: 60px;
}

.book-detail--rating-filled {
  color: #000000;
}

.book-detail--rating-empty {
  color: #b4b3b3;
}

.book-detail--title {
  grid-area: title;
  display: flex;
}

.book-detail--img {
  grid-area: image;
  max-width: 400px;
}

.book-detail--author {
  grid-area: author;
}

.book-detail--stars {
  grid-area: stars;
  display: flex;
}

.book-detail--numRatings {
  grid-area: reviews;
}

.book-detail--price {
  grid-area: price;
}

.book-detail--format {
  grid-area: format;
}

.book-detail--cart-button {
  grid-area: cart-bttn;
}

.book-detail--wishlist-button {
  grid-area: wishlist-bttn;
}

.book-detail--description {
  grid-area: desc;
}

.admin-button {
  background-color: #85a1b8;
  border: none;
  padding: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 5px;
}
