.landing-featured-carousel--heading,
.landing-featured-carousel-item--component {
  display: flex;
  justify-content: center;
}

.landing-featured--img {
  max-width: 325px;
  height: auto;
}
.landing-featured--img:hover {
  cursor: pointer;
}
