/* Profile dropdown */
.profile-dropdown {
  position: absolute;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 10px;
  right: 10%;
  top: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-nav--admin-link:hover {
  cursor: pointer;
  font-weight: bold;
}

.main-navigation--profile-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav--profile-greeting {
  color: #0b5f38;
}
.main-nav--profile-greeting:hover {
  cursor: default;
}

/* Main nav */

.navigation--main {
  border-bottom: 1px solid rgb(150, 150, 150);
  max-width: 1920px;
}

.hidden {
  display: none;
}
.main-navigation--container {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1920px;
  gap: 2rem;
  height: 100px;
  padding: 0 40px;
}

.main-navigation--loaded-div {
  display: flex;
  justify-content: baseline;
}

.main-navigation--logo {
  grid-area: logo;
}

.main-navigation--little-buttons {
  display: flex;
  gap: 0.5em;
}

.main-navigation--wishlist {
  color: #000000;
}

.main-navigation--profile-button {
  grid-area: profile;
}

.main-navigation--wishlist > button {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #e6a2a2;
}

.main-navigation--wishlist > button:hover,
.main-navigation--cart:hover,
.main-navigation--profile-button:hover {
  cursor: pointer;
}

.main-navigation--cart {
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-navigation--container a,
a:visited {
  text-decoration: none;
}

.main-navigation--container li {
  list-style: none;
}

.main-navigation--clickable-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
}

.main-navigation--clickable-nav > span:hover {
  cursor: pointer;
  font-weight: bold;
  color: #0b5f38;
}

.main-navigation--clickable-nav > span:active {
  color: #0b5f38bd;
}
