.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.main-navigation--container {
  border-bottom: 1px solid rgb(150, 150, 150);
}

.main-nav--admin-link:hover {
  cursor: pointer;
  font-weight: bold;
}
