.create-book--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.create-book--container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-book--container input,
select,
textarea {
  width: 500px;
  background-color: #e1e5eb;
  border-radius: 15px;
  border: none;
  min-height: 30px;
  margin: 5px;
}
