.create-collection--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.create-collection--container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-collection--container input {
  width: 100%;
  background-color: #e1e5eb;
  border-radius: 15px;
  border: none;
  min-height: 30px;
  margin: 5px;
}

.create-collection--container textarea {
  width: 100%;
  background-color: #e1e5eb;
  border-radius: 15px;
  border: none;
  min-height: 60px;
  margin: 5px;
}

.create-collection--form-label {
  color: rgb(126, 126, 126);
  width: 500px;
}
